body {
    background-color: lightcyan;
    width: auto;
}

h1 {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 26pt;
}

/* Construction edits the second.html and "site still under construction part" */
#construction {
    text-align: center;
    color: red;
    width: auto;
}

/* edits in alphabet edit the second.html */
#alphabet {
    font-size: 18pt;
    background-color: lightyellow;
}

h1 {
    border-bottom: 20px groove;
    width: auto;
    color: darkred;
    padding: 20px;
    border-radius: 20px;
    margin-top: 40px;
    margin-bottom: 20px;
}

h2 {
    border-bottom: 2px dashed;
    width: auto;
    color: darkred;
    padding: 15px;
    margin: 40px 20px 40px 40px;
}

p {
    border: solid;
    background-color: lightgreen;
    border-radius: 100px;
    padding: 50px;
    margin: 40px 40px 40px 40px;
    width: auto;
    font-size: 18pt;
}

footer {
    border: solid;
    border-bottom: none;
    border-radius: 20px;
    padding: 10px;
    width: auto;
    margin: 40px 40px 40px 40px;
    font-size: 16pt;
}

a {
    margin: 40px 5px 40px 40px;
}

/* Fixed the margins of the "Unsplash" link in index.html*/
#unsplash {
    margin: 40px 5px 40px 5px;
}


ul {
    margin: 40px 20px 40px 40px;
}

/*book image link in index.html*/
#books {
    margin: 40px 20px 10px 40px;
    width: auto;
    height: auto;

}

/*Home link in second.html*/
#home {
    font-size: 20pt;
    padding: 15px;
}

/*Alphabet link in index.html*/
#link {
    font-size: 20pt;
    padding: 15px;
}

#photo {
    background-color: lightcyan;
    border: none;
    padding: 0px;
}

/* Fixed the margins of the "Aaron" link in index.html*/
#photographer {
    padding: 0px;
    margin: 5px 5px 5px 5px;
}

/* Fixed the margins of the credit for Aaron photo link in index.html*/
#credit {
    border: none;
    background-color: lightcyan;
    margin: 5px 5px 5px 40px;
    padding: 0px;
}

/* Hamze and A image in second.html*/
#hamze {
    width: auto;
    height: 500px;
}

/* Hamze and A image in second.html*/
#a {
    width: auto;
    height: 500px;
}

/* Kurdish flag in second.html*/
#flag {
    width: auto;
    height: auto;
    margin-left: 350px;
    margin-top: 25px;
}

/* Progress bar in second.html*/
#progress {
    margin-left: 40px;
    margin-right: 10px;
}

/* Centered website through margin, is there a better way?*/
body {
    margin-left: 40px;
}

/* Changed links font size in index.html*/
#add {
    font-size: 18pt;
}

/* Changed links font size in index.html*/
h1 {
    font-size: 30pt;
}

figcaption {
    margin-left: 40px;
}
